<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.epi.epilog">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:networkSecurityConfig="@xml/network_secutiry_config"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="dialog"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" >
        </activity>

        <activity android:name=".presentation.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.MedicineActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity android:name=".presentation.BloodSugarActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity android:name=".presentation.MealActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".presentation.SoundRecognizerActivity" />

        <activity android:name=".presentation.FallDetectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.epi.epilog.SHOW_FALL_DETECTION"/>
            </intent-filter>
        </activity>

        <service
            android:name=".FallDetectionService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            tools:ignore="ForegroundServicePermission">
        </service>

        <receiver
            android:name=".presentation.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".presentation.MedicineNotificationReceiver" android:exported="true" />
        <receiver android:name=".presentation.MealNotificationReceiver" android:exported="true" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />




        <receiver
            android:name=".PowerButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"  />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
